<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h2>Назви організацій: </h2>
{% for org in organizations %}
    <li>{{org.name}}</li>
{% endfor %}
<div class="col-md-6">
    <div class="well bs-component">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>full_name</th>
                <th>address</th>
                <th>identity number payer</th>
                <th>number rentdocument</th>
            </tr>
            </thead>
            <tbody>
            {% for pers in persons %}
            <tr>
                    <td>{{pers.full_name}}</td>
                    <td>{{pers.address}}</td>
                    <td>{{pers.identity_num_payer}}</td>
                    <td>{{pers.id_rentdocument}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <button onclick="location.href='/car/add'" class="btn btn-success">Add</button>#}
    </div>
</div>
</body>
</html>