<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
<div class="col-md-6">
    <div class="well bs-component">
        <table class="table">
            <h2>Info about {{ org.name }}</h2>
            <thead class="thead-inverse">
            <tr>
{#                <th>organization</th>#}
                <th>person</th>
                <th>start_date</th>
                <th>suma in month</th>
            </tr>
            </thead>
            <tbody>
{#            {% for q in range(3) %}#}
            <tr>
                    <td>{{person.full_name}}</td>
                    <td>{{"2017-03-23"}}</td>
                    <td>{{building.area_room*main_document.base_amaunt}}</td>
            </tr>
{#            {% endfor %}#}
            </tbody>
        </table>
{#        <button onclick="location.href='/car/add'" class="btn btn-success">Add</button>#}
    </div>
</div>
<div class="col-md-2">
<p>&copy; 2017 {{ org.name }}<p>
</div>
</body>
</html>